Repository piro0919/1st-kontact: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, secret-lint

format:
  run: npx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: npx biome lint --fix {staged_files}
  stage_fixed: true

secret-lint:
  run: npx secretlint --maskSecrets {staged_files}

feat: integrate email functionality and enhance contact form
  package-lock.json
  package.json
  src/app/_components/Header/index.tsx
  src/app/_components/Top/index.tsx
  src/app/contact/_components/Contact/index.tsx
  src/app/contact/actions.ts
  src/app/contact/schema.ts
  src/app/contact/success/_components/Success/index.tsx
  src/app/contact/success/_components/Success/style.module.css
  src/app/contact/success/page.tsx
  src/env.ts
Due: format, lint, secret-lint

feat: enhance metadata and add open graph support across multiple pages
  src/app/contact/page.tsx
  src/app/contact/success/page.tsx
  src/app/layout.tsx
  src/app/news/page.tsx
  src/app/opengraph-image.png
  src/app/pricing/page.tsx
  src/app/works/page.tsx
Due: format, lint, secret-lint

fix: improve mobile layout responsiveness with safe area insets
  src/app/_components/Layout/style.module.css
  src/app/_components/MobileMenu/style.module.css
Due: format, secret-lint

feat: add lightbox functionality and improve layout in works component
  src/app/_components/Works/index.tsx
  src/app/_components/Works/style.module.css
  src/app/works/_components/Works/index.tsx
Due: format, lint, secret-lint

feat: simplify title rendering in top component based on current pathname
  src/app/_components/Top/index.tsx
Due: format, lint, secret-lint

fix: enforce iframe dimensions with !important in styles
  src/app/works/_components/Works/style.module.css
Due: format, secret-lint

fix: update site url in sitemap configuration
  next-sitemap.config.js
Due: none

chore: use shared renovate preset
  renovate.json
Due: none

chore: add MIT license
  LICENSE
Due: none

docs: rewrite README
  README.md
Due: none

docs: update demo URL
  README.md
Due: none

fix(deps): upgrade next to 16.0.7 and react to 19.2.3
  package-lock.json
  package.json
Due: none

fix(deps): upgrade next past the react2shell fix
  package-lock.json
  package.json
Due: none

feat(seo): add canonical, og:url, a sitemap and robots.txt
  src/app/contact/page.tsx
  src/app/contact/success/page.tsx
  src/app/layout.tsx
  src/app/news/page.tsx
  src/app/pageMetadata.ts
  src/app/pricing/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/app/works/page.tsx
Due: format, lint, secret-lint

chore: add funding links
  .github/FUNDING.yml
Due: format, secret-lint

ci: lint and check the types on every push
  .github/workflows/ci.yml
  src/app/_components/Works/index.tsx
  src/app/_components/Works/style.module.css
  src/app/contact/_components/Contact/index.tsx
  src/app/contact/actions.ts
  src/app/pricing/_components/Pricing/index.tsx
  src/app/works/_components/Works/style.module.css
  tsconfig.json
Due: format, lint, secret-lint

chore(deps): update dependencies (minor/patch)
  package-lock.json
  package.json
  src/app/_components/Profile/index.tsx
Due: format, lint, secret-lint

docs: use npm in the setup steps
  README.md
Due: none

perf(images): request resized webp from microcms and fix alt text
  src/app/_components/Works/index.tsx
  src/app/pricing/_components/Pricing/index.tsx
  src/app/works/_components/Works/index.tsx
  src/lib/microcms-image/index.ts
Due: format, lint, secret-lint

feat: send basic security headers
  next.config.ts
Due: none

docs: describe npm, css modules and env vars, drop next-sitemap config
  README.md
  next-sitemap.config.js
Due: none

fix(contact): show send errors, block double submit and add a honeypot
  src/app/contact/_components/Contact/index.tsx
  src/app/contact/_components/Contact/style.module.css
  src/app/contact/actions.ts
  src/app/contact/schema.ts
Due: format, lint, secret-lint

chore: stop tracking claude local settings
  .claude/settings.local.json
  .gitignore
Due: format, secret-lint

chore: add shared lint rules for unnamed numbers and tailwind values
  biome.json
  package-lock.json
  package.json
Due: none

chore: add shared lint rules for unnamed numbers and tailwind values (#35)
  biome.json
  package-lock.json
  package.json
Due: none

Path conditions:
  format: any of: **/*.{js,jsx,ts,tsx,json,css,md,yml,yaml}
  lint: any of: src/**/*.{ts,tsx}
  secret-lint: any of: **/*
